@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
}
.nav-bar{
    padding: 0.5rem 1.5rem;
    box-shadow: 0 8px 5px var(--tertiary-color);
    position: fixed;
    z-index: 3;
    top: 0;
}
.nav-bar .btn{
    font-size: 1.2rem;
    color: var(--navbar-icons-color);
}
.nav-bar .btn:hover{
    color: var(--primary-color);
}
.products{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-left: 15rem;
    gap: 1rem;
}
.productsandfilters{
    display: flex;
    position: relative;
    top: 4.5rem;
}
.filters{
    width: 15rem;
    background-color: var(--tertiary-color);
    position: fixed;
    padding: 1rem;
    height: 100vh;
}
.filters--banner{
    display: none;
}
.filters-heading{
    display: inline-block;
}
.filters--pricelabel{
    display: inline-block;
    padding: 5px 0;
    width: 45%;
}
.filters--priceinput{
    display: inline-block;
    width: 45%;
}
.filters--banner--btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters--hide{
    display: none;
}
@media screen and (max-width: 600px){
    .filters{
        display: none;
        width: 100%;
        bottom: 0;
        z-index: 10;
    }
    .products{
        margin-left: 0;
        position: relative;
        top: 3rem;
    }
    .filters--banner{
        display: block;
        position: fixed;
        bottom: 0;
        background-color: var(--tertiary-color);
        width: 100%;
        z-index: 3;
    }
    .filters--hide{
        display: inline;
    }
}