@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{
    --heart-color: #d13d23;
}
* {
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
}
.nav-bar{
    box-shadow: 0 8px 5px var(--tertiary-color);
}
.nav-bar a{
    font-size: 1.2rem;
    color: var(--navbar-icons-color);
}
.heart{
    color: var(--heart-color);
}
.wishlist-container{
    display: grid;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}